{%- set namespace = properties["namespace"] -%}

#!/bin/bash

pushd ./k8s_config

kubectl delete -f tensorboard.yaml
if [[ {{ namespace }} != "default" ]]; then
  if [[ ! $(kubectl get pods --namespace={{ namespace }}) | grep NAME $>/dev/null ]]; then
    kubectl delete -f namespace.yaml
  fi
fi

popd
